{:paths ["src/clj" "src/cljs"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/java.jdbc {:mvn/version "0.7.12"}
        org.postgresql/postgresql {:mvn/version "42.6.0"}
        com.github.seancorfield/honeysql {:mvn/version "2.4.1026"}
        javax.servlet/servlet-api {:mvn/version "2.5"}
        ring/ring {:mvn/version "1.9.0"}
        metosin/reitit {:mvn/version "0.5.12"}
        metosin/muuntaja {:mvn/version "0.6.8"}}
 
 :aliases
{:cljs
 {:extra-deps {thheller/shadow-cljs {:mvn/version "2.23.3"}}}}}
        